*{ margin: 5px;
padding: 0;
font-family: 'Poppins', sans-serif;}
body {
    background-color: #fff;
    margin: auto;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;}


header{ min-width: 100vh;
width: 100%;
background-image: url(./assets/image\ 1.png); 
}


@media (min-width: 1240px){}
header {
max-width: 1290px !important;
margin: auto !important;
height: 100%;
 }

nav{ display: flex;
padding: 2% 6%;
justify-content: space-between;
align-items: center;
background-color: black;
background-size: auto;
}

.nav-links ul li{ color: white;
list-style: none;
display: inline-block;
padding: 8px 12px;
position: relative;

}

.nav-links ul li a{ 
color: white;
text-decoration: none;

font-size: 20px;
}

 .nav-links ul li::after{ 
content: "";
width: 0%;
height: 2px;
background: #ED661F;
display: block;
margin: auto;
transition: 0.5s;}
.nav-links ul li:hover::after 
{ width: 100%;
}

.get{ display: flex;
font-size: 22px;
text-decoration: none;}

.get li a{ 
    color: white;
    list-style: none;
    text-decoration: none;
}

.button{ 
display: inline-block;
text-decoration: none;
background-color: #ED661F; 
cursor: pointer;
border: solid;
/* padding: 12px 34px; */
font-size: 30px;
}

 .button:hover{
    border: 1px solid;
    background-color: whitesmoke;
transition: o0.5s;
}

.page1 img{width: 800px;
height: 350px;
float: right; 
}

.page1{ margin: 50px;
    font-size: 30px;
display: flex;
}

.baseline{ 
display: flex;
border: 1px solid;
width: 400px;
/* align-items: flex-end; */
float: right;
margin-right: 180px;
}
.baseline ul li{ 
    list-style: none;
}

.button1{
display: inline-block;
text-decoration: none;
cursor: pointer;
border: solid;
list-style: none;
} 

.button1:hover{ 
background-color: #ED661F;
border: 1px solid;
}


.logo{ font-size: 50px;
text-decoration: none;
color: white;
}

.page1 h1{font-family: 'Poppins', sans-serif; }

/* <!-- body 1 --> */
.container{
    width: 80%;
    margin: auto;
}
 .body1{width: 80%;
margin: auto;
text-align: left;
padding-top: 100px;
display: flex;
}

.body1 h2{ font-family: 'Poppins', sans-serif;
cursor: pointer;}
.body1 p2{font-size: 25px; }
.body1 img{width: 1000px;
height: 350px;
float: right;
}

.body1 h2::after{
content: "";
background: #ED661F;
margin: auto;
transition: 0.5s;}

.body1 h2:hover::after{
width: 100%;
}

.body2{
text-align: center;
width: 80%;
margin:auto;
padding: 100px;
padding-top: 20px;
font-size: 20px;
}

.body3 { 
display: flex;
margin: auto;
justify-content: space-between;
margin: 100px;
}

#column img{ 
width: 200px;
height: 200px;
}

.body3 > h2{ margin-left: 100px;}

/* .body4 { 
    display: flex;
   margin: auto;
   justify-content: space-between; */
.body4 { 
display: flex;
margin: auto;
justify-content: space-between;
margin: 100px;
}


#column img{ 
 width: 200px;
height: 200px;
}
.u{text-decoration:underline solid #ED661F;}

.see{ text-align: right;}

/* Customer rating section */

.customer-rating{
    width: 80%;
    margin: auto;
    /* text-align: center; */
   
}
.customer-rating > h1{
    font-size: 600;
    margin-top: 15px ;
    margin-bottom: 20px;
    text-align: left;
}
.customer-rating-section{
    /* align-items: center; */
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.column2{
    margin-bottom: 10px;
    background: #fff3f3;
    padding: 40px;
    cursor: pointer;
    margin-top: 80px;

} 
.column2 > p{
    text-align: center;
    font-size: 300;
    padding: 20;
}

.column > h2{
    text-align: right;
}
.column2 .fa{
    color: #ED661F;
    object-fit: contain;
    align-items: center;
    padding-left: 10px 10px;

}
/* footer-contact section */
/* subscribe-section */
.subscribe-section{
    background: black;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
}
.subscribe-header > h1{
    color: #fff;
    font-size: 30;
    font-weight: 300;
    text-align: center;
    padding-top: 50px;

}
.subscribe-header > p{
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    text-align: center;
    padding-bottom: 30px;

}
.search{
    width: 200px;
    margin-left: 28%;
    text-align: center;
    display: flex;
}
.srch{
    width: 300px;
    height: 45px;
    background: #fff;
    border: 1px solid #fff3f3;
    /* margin-top: 10px; */
    font-size: 18px;
    /* float: left; */
    border-right: 0;
    
    
}
.sub-btn{
    width: 200px;
    height: 46px;
    background: #ED661F;
    border: 2px solid #ED661F;
    /* border-bottom: 2px solid #ED661F; */
    font-size: 22px;
    color: #fff;
    margin-bottom: 50px;
    cursor: pointer;

}
.sub-btn:hover{
    box-shadow: #a6b7c56b 6px 15px 16px 0px;}

.footer-contact{
    background: black;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}
.row3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
    margin-top: 16px;
}
.company-logo >h1{
    color: white;
    font-weight: 300;
    font-size: 36px;
    padding-left: 18px;
}
.company-logo > p{
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    padding-left: 18px;
}
.company-footer> h1{
    color: #fff;
    font-weight: 200;
    padding-top: 16px;
    padding-bottom: 10px;
    font-size: 26px;
}
/* .company-footer> p{
    color: #fff;
    font-weight: 100px;
    font-size: 15px;
    
} */
.company-footer ul li{
    list-style: none;
    color: #fff;
    padding: 4px 4px 4px 4px;
}
.company-footer ul li a{
    text-decoration: none;
    color: #fff;
}
.copyright{
    color: #fff;
    text-align: center;
    font-size: 9px;
    /* font-weight: 100; */
    padding-top: 30px;
    padding-bottom: 40px;
}