*{ margin: 0;
padding: 0;}
/* .header{ min-width: 100vh;
background-color: black;
margin: 100%;
background-position: center;
background-size: cover;
position: relative;  */
.body{background-image: url(./assets/image\ 1.png);}